*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: violet;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
}

.container{
    width: 80%;
    /* border: 5px solid white; */
    margin: auto;
}

.thumbnails{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.thumb{
    width: 100%;
    border: 2px solid white;
    cursor: pointer;
}