*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: violet;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
}

.container{
    width: 80%;
    /* border: 5px solid white; */
    margin: auto;
}

.thumbnails{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.thumb{
    width: 100%;
    border: 2px solid white;
    cursor: pointer;
}

.display-image{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    display: none;  
    justify-content: center;
    align-items: center;
}
.display-image.lightbox{
    display: flex;
}
.display-image img{
    width: 600px;
    max-width: 90%;
}
.display-image .close{
    width: 70px;
    position: absolute;
    top: 5%;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
}

@media screen and (min-width: 300px){
    .display-image .close{
        top: 10%;
    }
}

@media screen and (min-width: 540px){
    .display-image .close{
        top: 5%;
    }
}

@media screen and (min-width: 600px){
    .display-image .close{
        /* top: 10%; */
    }
}

@media screen and (min-width: 1024px){
    .display-image .close{
        right: 10%;
    }
}

@media screen and (min-width: 1200px){
    .display-image .close{
        /* top: 50%; */
        right: 20%;
    }
}